@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "elementarz";
  src: url("./assets/font/Elementarz.ttf");
}

@font-face {
  font-family: "meatloaf";
  src: url("./assets/font/Meatloaf.ttf");
}
